@import '../../modules/variables';

.feed {
  width: 100%;
  margin: 10px 0;
  text-align: left;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 1 100%;

  &__separator {
    width: 8px;
  }

  &__column {
    width: 244px;
    flex: 1 1 auto;
    background-color: $color-white;
    border-radius: $re--border-radius;
    padding: $re--medium-padding $re--medium-padding 0;
    max-height: 88.5vh; // TODO: bullshit
    overflow: auto;
    box-shadow: 0 0 20px -9px rgba(0, 0, 0, 0.5);
    z-index: 1;

    &__main {
      flex: 1 2 auto;
      width: 620px;
    }
  }

  &__other_options {
    padding: 0 $re--small-padding;
  }

  &__options_field {
    box-sizing: border-box;
    margin-bottom: $re--medium-padding;
    padding-bottom: $re--big-padding;
    border-bottom: 1px solid $re--color-light-gray;

    & textarea {
      width: 100%;
      resize: vertical;
    }
  }

  /* Customize the label (the container) */
  &__checkbox {
    &_label {
      display: block;
      position: relative;
      padding-left: 19px;
      margin-bottom: 7px;
      cursor: pointer;
      font-size: 10px;
      font-weight: 500;
      color: $color-black;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      /* Hide the browser's default checkbox */
      & > input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        /* When the checkbox is checked, add a blue background */
        &:checked ~ .feed__checkbox_checkmark {
          background: $re--gradient;

          /* Show the checkmark when checked */
          &:after {
            display: block;
          }
        }

        /* Show the checkmark when checked */
        &:checked ~ .feed__checkbox_label { // TODO: doesn't work
          color: $re--color-middle-gray;
        }
      }
    }

    /* Create a custom checkbox */
    &_checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 10px;
      width: 10px;
      background-color: $color-white;
      border: 1px solid $re--color-light-gray;

      /* Create the checkmark/indicator (hidden when not checked) */
      &:after {
        content: "";
        position: absolute;
        display: none;
        /* Style the checkmark/indicator */
        left: 4px;
        top: 1px;
        width: 2px;
        height: 5px;
        border: solid white;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  &__options_footer {
    padding: $re--big-padding 0;
    width: 100%;
    height: auto;
    position: sticky;
    bottom: 0;
    background-color: $color-white;
    box-shadow: 0 -10px 5px -6px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__map {
    width: 100%;
    height: auto;
  }

  ///////////////////////////////////////////////
  ///////////////   Main column   ///////////////
  ///////////////////////////////////////////////

  &__photos {
    width: 100%;
    height: auto;
    margin-bottom: $re--big-padding;
  }

  &__profile {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;

    &__tags {
      display: flex;
      align-items: flex-end;
      flex-flow: column;
    }
  }

  &__about {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $color-black;
  }

  &__action_buttons {
    width: 100%;
    height: auto;
    margin: $re--huge-padding 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.separator {
  height: 1px;
  width: auto;
  margin-bottom: $re--big-padding;
  background-color: $re--color-light-gray;
}

.search_tag {
  display: flex;
  justify-content: right;
  align-items: center;
}

.x_btn {
  display: none;
}