@import "../../modules/variables";

$filters-width: 200px;

.big-search {
  width: calc(100% - (200px + 15px));
  margin-left: 215px;
  margin-top: $header-height + 10px;

  @media only screen and (max-width: $breakpoint-phone) {
    width: 100%;
    margin: $header-height 0;
  }

  &__header {
    margin: $re--big-padding 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    height: 45px;
    position: sticky;

    @media only screen and (max-width: $breakpoint-phone) {
      margin-top: 0;
      position: absolute;
      width: 100%;
      border-top: 1px solid $re--color-light-gray;
      box-shadow: 0px 6px 6px -7px $color-black
    }
  }

  &__filters {
    position: fixed;
    top: $header-height + 10px;
    width: $filters-width;

    @media only screen and (max-width: $breakpoint-phone) {
      z-index: $z-index-mobile-screen;

      & > .filters {
        top: $header-height;
      }
    }

    & > .filters {
      box-shadow: none;
      border-radius: 0;
      border-left: 1px solid $re--color-light-gray;
    }
  }

  &__search {
    padding: 0 20px;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;

    @media only screen and (max-width: $breakpoint-phone) {
      border-radius: 0;
      width: 100%;
    }

    & .filters__filter-icon {
      margin: 0 0 0 2px;
      width: 35px;
      display: none;

      @media only screen and (max-width: $breakpoint-phone) {
        display: block;
      }
    }
  }

  &__icon {
    position: relative;
    left: -10px;
    top: 4px;

    @media only screen and (max-width: $breakpoint-phone) {
      display: none;
    }
  }

  &__input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: none;
    vertical-align: middle;
    margin: 0 $re--medium-padding;

    &::placeholder {
      color: $re--color-middle-gray;
    }

    &:focus {
      text-decoration: none;
    }

    @media only screen and (max-width: $breakpoint-phone) {
      text-align: right;
      text-decoration-color: $re--color-middle-gray;
      text-decoration-line: underline;
      margin-left: 0;
    }
  }

  &__grid {
    width: 100%;
    column-count: 1;
    //column-gap: 0;
    counter-reset: item-counter;

    @media screen and (orientation: portrait) and (min-width: $breakpoint-phone) {
      column-count: 1;
    }

    @media screen and (orientation: portrait) and (min-width: 600px) {
      column-count: 2;
    }

    @media screen and (orientation: landscape) and (min-width: 800px) {
      column-count: 3;
    }

    @media screen and (min-width: 1000px) {
      column-count: 4;
    }
  }

  &__results {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: $breakpoint-phone) {
      width: 100%;
      margin-top: $header-height + 15px;
      padding: 0 $re--medium-padding;
    }
  }

  &__container {
    display: flex;
  }
}