$color-red: #F64F59;
$color-purple: #C471ED;
$color-blue: #12C2E9;
$color-black: #191919;
$color-white: white;
$color-dark-blue: #325e89;
$color-light-gray: #b6bebf;
$color-gray: rgba(31, 63, 81, 0.6);

$event-width: 244px;
$padding-event: 12px;
$border-radius: 2px;


$re--color-light-gray: #F1F1F1;
$re--color-middle-gray: #D5D5D5;
$re--color-gray: #999999;
$re--gradient: linear-gradient(
                  135deg,
                  $color-blue 0%,
                  $color-purple 50%,
                  $color-red 100%);
$re--huge-padding: 69px;
$re--large-padding: 46px;
$re--big-padding: 23px;
$re--medium-padding: 15px;
$re--small-padding: 12px;

$re--full-height: 86vh;
$re--border-radius: 4px;

$breakpoint-phone: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

.gradient-text {
    background: $re--gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin transition($duration, $timing) {
    -webkit-transition: all $duration $timing;
    -moz-transition: all $duration $timing;
    -o-transition: all $duration $timing;
    transition: all $duration $timing;
}

%a-link {
    color: $color-blue;
    font-size: 10px;
    font-weight: 400;
}
