$color-red: #F64F59;
$color-purple: #C471ED;
$color-blue: #12C2E9;
$color-black: #191919;
$color-white: white;
$color-dark-blue: #325e89;
$color-light-gray: #b6bebf;
$color-gray: rgba(31, 63, 81, 0.6);

$event-width: 244px;
$padding-event: 12px;
$border-radius: 2px;
