@import "../../modules/variables";

.input {
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;

  &__text {
    &_small {
      height: 100px;
      width: 232px;
    }

    &_middle {
      height: 120px;
      width: 300px;
    }
  }

  &__auth {
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 2px solid $re--color-light-gray;
    transition-property: border-bottom-color;
    transition-duration: 0.3s;

    &:focus {
      border-bottom-color: $color-purple;
    }
  }

  &__auth::placeholder {
    color: $re--color-middle-gray;
  }

  &__search {
    font-size: 16px;
    border: none;
    margin: 0;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}
