@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=cyrillic");
.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.auth {
  margin: 55px auto 10px;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}
.auth__item {
  padding: 69px 46px 46px;
  border-radius: 4px;
  box-shadow: 5px 5px 10px #cdcdcd, -5px -5px 10px #ffffff;
  background-color: white;
}
.auth__title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 69px;
}
.auth__title__reg {
  font-size: 33px;
}
.auth__help {
  font-weight: bold;
  font-size: 12px;
  color: #191919;
  padding-bottom: 12px;
}
.auth__input {
  width: 100%;
  min-width: 264px;
  padding-bottom: 23px;
}
.auth__text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.auth__btn {
  padding-top: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .auth {
    width: 100%;
    height: auto;
  }
  .auth__item {
    width: 100%;
    box-shadow: 0 0;
    border-radius: 0;
    padding: 69px 10vw 46px;
  }
  .auth__input {
    min-width: 100%;
  }
  .auth__title__reg {
    font-size: 8.5vw;
  }
}
.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.big-search {
  margin-top: 45px;
  display: block;
  align-items: center;
  text-align: center;
  padding-top: 64px;
}
.big-search__header {
  z-index: 1;
  display: flex;
  justify-content: center;
  height: 40px;
}
.big-search__header_sizing {
  padding-bottom: 4%;
}
.big-search__search {
  height: 100%;
  width: 504px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  display: flex;
  border-radius: 4px;
}
@media screen and (orientation: portrait) {
  .big-search__search {
    width: 370px;
  }
}
.big-search__icon {
  position: relative;
  left: -10px;
  top: 4px;
}
.big-search__grid {
  column-count: 1;
  column-gap: 0;
  counter-reset: item-counter;
}
@media screen and (orientation: portrait) and (min-width: 400px) {
  .big-search__grid {
    column-count: 1;
  }
}
@media screen and (orientation: portrait) and (min-width: 600px) {
  .big-search__grid {
    column-count: 2;
  }
}
@media screen and (orientation: landscape) and (min-width: 800px) {
  .big-search__grid {
    column-count: 3;
  }
}
@media screen and (min-width: 1100px) {
  .big-search__grid {
    column-count: 4;
  }
}
@media screen and (min-width: 1400px) {
  .big-search__grid {
    column-count: 5;
  }
}
.big-search__results {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (orientation: portrait) and (min-width: 300px) {
  .big-search__results {
    width: 246px;
  }
}
@media screen and (orientation: portrait) and (min-width: 600px) {
  .big-search__results {
    width: 504px;
  }
}
@media screen and (orientation: landscape) and (min-width: 800px) {
  .big-search__results {
    width: 758px;
  }
}
@media screen and (orientation: landscape) and (min-width: 1100px) {
  .big-search__results {
    width: 1012px;
  }
}
@media screen and (orientation: landscape) and (min-width: 1400px) {
  .big-search__results {
    width: 1270px;
  }
}
.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.feed {
  position: absolute;
  top: 55px;
  bottom: 10px;
  width: 100%;
  display: flex;
  flex: 1 1 100%;
  /* Customize the label (the container) */
}
.feed__separator {
  width: 8px;
}
.feed__column {
  width: 258px;
  flex: 1 1 auto;
  background-color: white;
  border-radius: 4px;
  padding: 15px 15px 0;
  overflow: auto;
  box-shadow: 0 0 20px -9px rgba(0, 0, 0, 0.5);
}
.feed__column_main {
  flex: 1 2 auto;
  width: 620px;
}
.feed__other-options {
  padding: 0 12px;
}
.feed__options-field {
  margin-bottom: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid #F1F1F1;
}
.feed__options-field_textarea {
  width: 100%;
  resize: none;
}
.feed__checkbox {
  /* Create a custom checkbox */
}
.feed__checkbox-label {
  display: block;
  position: relative;
  padding-left: 19px;
  margin-bottom: 7px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 500;
  color: #191919;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
}
.feed__checkbox-label > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  /* When the checkbox is checked, add a blue background */
  /* Show the checkmark when checked */
}
.feed__checkbox-label > input:checked ~ .feed__checkbox-checkmark {
  background: linear-gradient(135deg, #12C2E9 0%, #C471ED 50%, #F64F59 100%);
  /* Show the checkmark when checked */
}
.feed__checkbox-label > input:checked ~ .feed__checkbox-checkmark:after {
  display: block;
}
.feed__checkbox-label > input:checked ~ .feed__checkbox-label {
  color: #D5D5D5;
}
.feed__checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: white;
  border: 1px solid #F1F1F1;
  /* Create the checkmark/indicator (hidden when not checked) */
}
.feed__checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
  /* Style the checkmark/indicator */
  left: 4px;
  top: 1px;
  width: 2px;
  height: 5px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.feed__map {
  width: 100%;
  height: auto;
}
.feed__help {
  font-weight: bold;
  font-size: 12px;
  color: #191919;
  padding-bottom: 12px;
}

.img__event {
  object-fit: cover;
  object-position: 100% 0;
  width: 100%;
  border-radius: 2px 2px 0;
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.landing {
  width: 100%;
  margin-top: 45px;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #12C2E9;
  /*-------------------------------------------*\
     Photo
  \*-------------------------------------------*/
  /*-------------------------------------------*\
     Scenarios
  \*-------------------------------------------*/
  /*-------------------------------------------*\
     Creators
  \*-------------------------------------------*/
  /*-------------------------------------------*\
     Footer
  \*-------------------------------------------*/
  /*-------------------------------------------*\
     Text
  \*-------------------------------------------*/
}
.landing__screen {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.landing__screen_photo {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(135deg, rgba(8, 41, 55, 0.75) 0%, rgba(44, 21, 55, 0.75) 50%, rgba(55, 15, 19, 0.75) 100%), url("../images/landing.jpg");
}
@media screen and (orientation: landscape) {
  .landing__screen_photo {
    min-height: 712px !important;
  }
}
@media screen and (max-width: 1000px) {
  .landing__screen_photo {
    min-height: 512px !important;
  }
}
.landing__screen_scenario {
  background: white;
}
.landing__screen_creators {
  background: #12c2e9;
}
.landing__screen_footer {
  background: #191919;
  text-align: left;
}
.landing__photo__logo {
  margin-bottom: 50px;
  cursor: default;
}
.landing__photo__title {
  font-size: 42px;
  margin-bottom: 15px;
  cursor: default;
}
.landing__photo__text {
  font-size: 18px;
  font-weight: 400;
  cursor: default;
}
.landing__photo__btn {
  margin-top: 50px;
}
.landing__scenario {
  padding-bottom: 46px;
}
.landing__scenario__row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.landing__scenario__row svg {
  min-width: 188px;
  margin-right: 130px;
}
.landing__scenario .separator {
  margin: 46px 0;
}
.landing__scenario__text {
  text-align: left;
}
.landing__scenario__text__title {
  color: #191919;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 27px;
}
.landing__scenario__text__body {
  color: #888888;
  font-size: 18px;
  font-weight: 400;
}
.landing__creators__row {
  display: flex;
  justify-content: center;
}
.landing__creators__row .separator_vertical {
  margin: 20px 5vw 86px;
}
.landing__creators__row .separator_vertical:last-child {
  display: none;
}
.landing__footer__body {
  display: flex;
  align-items: flex-start;
  margin: 69px 0 23px;
}
.landing__footer__creds {
  color: #686868;
  font-size: 12px;
  margin: 46px 0;
  text-align: center;
}
.landing__footer__logo {
  width: fit-content;
  width: -moz-fit-content;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 8px;
  cursor: default;
}
.landing__footer__about {
  color: #7C7C7C;
  font-size: 16px;
  font-weight: 300;
  cursor: default;
}
.landing__footer__column {
  min-width: 25%;
}
.landing__footer__column:first-child {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  min-width: 50%;
}
.landing__footer__column:first-child button {
  margin-top: 39px;
}
.landing__footer__section {
  display: flex;
  flex-flow: column;
  margin-bottom: 46px;
}
.landing__footer__title {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  cursor: default;
}
.landing__footer__link {
  margin-bottom: 3px;
  color: #686868;
  font-size: 13px;
  font-weight: 300;
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.landing__footer__link:hover {
  color: #F1F1F1;
}
.landing__title_second {
  padding: 46px 0;
  font-size: 32px;
  color: white;
  font-weight: 400;
}
.landing__text {
  font-weight: bold;
  font-size: 26px;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .landing__screen {
    padding: 0 5vw;
  }
}
/*-------------------------------------------*\
   Photo MEDIA
\*-------------------------------------------*/
@media only screen and (max-width: 480px) {
  .landing__screen_photo {
    padding: 0 10vw;
  }

  .landing__photo__logo {
    margin-bottom: 40px;
  }
  .landing__photo__title {
    font-size: 27px;
    font-weight: bold;
  }
  .landing__photo__text {
    font-size: 13px;
    font-weight: 300;
  }
  .landing__photo__btn {
    margin-top: 40px;
  }
}
/*-------------------------------------------*\
   Scenarios MEDIA
\*-------------------------------------------*/
@media only screen and (max-width: 480px) {
  .landing__screen_scenario {
    padding: 0 6vw 23px;
  }

  .landing__scenario__row {
    flex-flow: column;
  }
  .landing__scenario__row svg {
    margin: 0 0 23px 0;
    max-height: 40vw;
  }
  .landing__scenario .separator {
    margin: 23px 0;
  }
  .landing__scenario__text {
    text-align: center;
    padding: 0 10px;
  }
  .landing__scenario__text__title {
    color: #191919;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .landing__scenario__text__body {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
  }
}
/*-------------------------------------------*\
   Creators MEDIA
\*-------------------------------------------*/
@media only screen and (max-width: 480px) {
  .landing__creators__row {
    flex-flow: column;
  }
  .landing__creators__row .separator_vertical {
    display: none;
  }
}
/*-------------------------------------------*\
   Footer MEDIA
\*-------------------------------------------*/
@media only screen and (max-width: 480px) {
  .landing__footer__body {
    flex-flow: column;
    margin: 46px 2vw 0;
  }
  .landing__footer__creds {
    margin: 15px;
    font-size: 8px;
  }
  .landing__footer__logo {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .landing__footer__about {
    font-size: 12px;
  }
  .landing__footer__column {
    width: 100%;
  }
  .landing__footer__column:first-child {
    align-items: center;
  }
  .landing__footer__column:first-child button {
    transform: scale(0.75);
    margin-bottom: 23px;
    align-items: center;
    margin-top: 23px;
  }
  .landing__footer__section {
    align-items: center;
    text-align: center;
    margin-bottom: 23px;
  }
  .landing__footer__title {
    font-size: 12px;
    margin-bottom: 9px;
  }
  .landing__footer__link {
    font-size: 10px;
  }
}
/*-------------------------------------------*\
   Text MEDIA
\*-------------------------------------------*/
@media only screen and (max-width: 480px) {
  .landing__title_second {
    padding: 46px 0;
    font-size: 23px;
  }
}
.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.my {
  width: 100%;
  position: absolute;
  top: 55px;
  bottom: 10px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 20px 20px 60px #cdcdcd, -20px -20px 60px #ffffff;
  display: flex;
}
.my__left-column {
  width: 25%;
  max-height: 100%;
  border-right: 1px solid #F1F1F1;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: white;
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.my__left-column-header {
  height: 88px;
  flex: 0 0 auto;
  border-bottom: 1px solid #F1F1F1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: white;
}
.my__left-column-body {
  height: 100%;
  padding: 15px 15px 0;
  position: relative;
  min-height: 0px;
}
.my__left-column-body_page-chat {
  padding: 15px 0 0;
  min-height: 0;
}
.my__main-column {
  width: 75%;
  max-height: 100%;
  border-radius: 4px;
  flex: 1 1;
  background-color: white;
  padding: 23px;
}
.my__main-column-body {
  width: 100%;
  height: calc(100% - 39px);
  display: flex;
  align-items: flex-start;
}

@media only screen and (max-width: 1000px) {
  .my {
    min-height: calc(100vh - 100px);
    height: fit-content;
    position: relative;
    margin-top: 45px;
    border-radius: 0;
    box-shadow: none;
    flex-flow: column;
    overflow-x: hidden;
  }
  .my__left-column {
    width: 100%;
    min-height: 100%;
    height: fit-content;
  }
  .my__left-column-header {
    height: 55px;
    z-index: 2;
    border-top: 1px solid #f1f1f1;
    position: fixed;
    width: 100%;
    top: 45px;
  }
  .my__main-column {
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
  .my__main-column-body {
    height: 100%;
    padding: 0 15px;
  }
}
.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.profile-main {
  width: 100%;
  height: calc(100% - 39px);
  display: flex;
  align-items: flex-start;
}
.profile-main__photos {
  max-height: 100%;
  overflow-y: auto;
}
@media screen and (orientation: landscape) {
  .profile-main__photos {
    min-width: 482px;
  }
}
.profile-main__events {
  max-height: 100%;
  overflow-y: auto;
  max-width: 20%;
  min-width: 200px;
}
.profile-main__group {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 23px;
}
.profile-main__separator {
  min-width: 23px;
}

@media only screen and (max-width: 1000px) {
  .profile-main {
    flex-flow: column;
    margin-bottom: 55px;
  }
  .profile-main__photos {
    overflow: unset;
  }
  .profile-main__events {
    max-width: 100%;
    padding-top: 15px;
    border-top: 1px solid #F1F1F1;
    overflow: unset;
  }
}
.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.profile-edit__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.profile-edit__popup {
  position: absolute;
  opacity: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.profile-edit__form {
  width: 400px;
  height: 100%;
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}
.profile-edit__table {
  display: flex;
  flex-direction: column;
}
.profile-edit__filed {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}
.profile-edit__type {
  width: 144px;
}
.profile-edit__value {
  width: 144px;
}
.profile-edit__btn {
  width: 144px;
  color: #2a5885;
  text-decoration: none;
  cursor: pointer;
}
.profile-edit__title {
  padding: 12px 0 12px 0;
}
.profile-edit__line {
  background-color: rgba(31, 63, 81, 0.6);
  width: 100%;
}
.profile-edit__icon {
  position: fixed;
  right: 10px;
  top: 10px;
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.chat {
  display: flex;
  flex-flow: column;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.chat__header {
  height: 45px;
  display: flex;
  justify-content: space-between;
  padding: 9px 15px;
  background: white;
  border-bottom: 1px solid #F1F1F1;
  -webkit-transition: all 0.1s cubic-bezier(0.3, 0.83, 0, 1.01);
  -moz-transition: all 0.1s cubic-bezier(0.3, 0.83, 0, 1.01);
  -o-transition: all 0.1s cubic-bezier(0.3, 0.83, 0, 1.01);
  transition: all 0.1s cubic-bezier(0.3, 0.83, 0, 1.01);
  transform: scale(0);
}
.chat__header h2 {
  margin: 0;
}
.chat__header_active {
  transform: scale(1);
}
.chat__body {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  overflow: auto;
}
.chat__footer {
  min-height: 45px;
  max-height: 30%;
  padding: 9px 15px;
  display: flex;
  align-items: flex-end;
  background: white;
  border-top: 1px solid #F1F1F1;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  transform: scale(0);
}
.chat__footer_active {
  transform: scale(1);
}
.chat__add-icon {
  display: none;
}
.chat__textarea {
  width: 100%;
  max-height: 100%;
  margin: 0 15px;
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  color: #191919;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 2px solid #F1F1F1;
  transition-property: border-bottom-color;
  transition-duration: 0.2s;
  outline: none;
  resize: none;
  padding: 4px;
}
.chat__textarea:focus {
  border-bottom-color: #C471ED;
}
.chat__button {
  height: 27px;
}
.chat__button_disabled {
  opacity: 0.5;
}
.chat__send-icon {
  display: none;
  width: 30px;
}
.chat__return-icon {
  display: none;
  width: 20px;
  margin: 4px 0 0 7px;
}
.chat__more-icon {
  opacity: 0;
  width: 20px;
}

@media only screen and (max-width: 480px) {
  .chat {
    position: fixed;
    top: 46px;
    bottom: 0;
    transform: translateX(100%);
    z-index: 10;
  }
  .chat_active {
    transform: translateX(0);
  }
  .chat__header {
    transform: scale(1);
  }
  .chat__button {
    display: none;
  }
  .chat__send-icon {
    display: block;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .chat__send-icon:active {
    transform: scale(0.9);
  }
  .chat__return-icon {
    display: block;
  }
}
.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.chat-list-item {
  width: 100%;
  border-bottom: 1px solid #F1F1F1;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.chat-list-item_active {
  background: #F1F1F1;
}
.chat-list-item__avatar {
  position: relative;
  height: 45px;
}
.chat-list-item__avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.chat-list-item__avatar_active img {
  box-shadow: 5px 5px 9px #e0e0e0, -5px -5px 9px #ffffff;
}
.chat-list-item__alert {
  position: absolute;
  top: 0;
  right: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 0.5px solid white;
  background: linear-gradient(135deg, #12C2E9 0%, #C471ED 50%, #F64F59 100%);
  transform: scale(0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.chat-list-item__alert_unread {
  transform: scale(1);
}
.chat-list-item__body {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-left: 14px;
}
.chat-list-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
}
.chat-list-item__title {
  font-size: 12px;
  font-weight: 600;
  color: #191919;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.chat-list-item__time {
  font-size: 10px;
  font-weight: 300;
  color: #D5D5D5;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.chat-list-item__time_active {
  color: #191919;
}
.chat-list-item__time_unread {
  font-weight: 500;
  color: #191919;
}
.chat-list-item__message {
  height: 20px;
  margin: 0;
  display: -webkit-box;
  font-size: 10px;
  line-height: 10px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #191919;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.chat-list-item__message_unread {
  font-weight: 600;
}
.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.chat-message {
  max-width: 75%;
  padding: 8px 10px;
  border-radius: 4px;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  color: white;
  margin: 5px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}
.chat-message_right {
  align-self: flex-end;
  background: linear-gradient(135deg, #C471ED 0%, #F64F59 100%);
}
.chat-message_left {
  align-self: flex-start;
  background: linear-gradient(135deg, #12C2E9 0%, #C471ED 100%);
}
.chat-message_new {
  transform: scale(0);
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.creator_card {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 46px;
}
.creator_card__avatar {
  width: 180px;
  height: 180px;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #11b4d9, -5px -5px 10px #13d0f9;
}
.creator_card__name {
  margin: 23px 0;
  font-size: 28px;
  font-weight: 500;
  cursor: default;
}
.creator_card__about {
  font-size: 16px;
  font-weight: 400;
  cursor: default;
}
.creator_card .separator_horizontal {
  margin: 19px 0;
}
.creator_card__links {
  display: flex;
  justify-content: space-between;
}
.creator_card__links svg {
  width: 28px;
  height: 28px;
  margin: 0 5px;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.creator_card__links svg:hover, .creator_card__links svg:active {
  opacity: 1;
}

@media only screen and (max-width: 480px) {
  .creator_card {
    margin: 0 0 46px;
  }
  .creator_card__avatar {
    width: 150px;
    height: 150px;
  }
  .creator_card__name {
    margin: 15px 0;
    font-size: 24px;
  }
  .creator_card__about {
    font-size: 14px;
  }
  .creator_card .separator_horizontal {
    width: 40%;
  }
}
.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.feed-center__photos {
  width: 100%;
  height: auto;
  margin-bottom: 23px;
}
.feed-center__profile {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.feed-center__tags {
  display: flex;
  align-items: flex-end;
  flex-flow: column;
}
.feed-center__about {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #191919;
}
.feed-center__action-buttons {
  width: 100%;
  height: auto;
  margin: 69px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.feed-right__title {
  padding-bottom: 12px;
}
.feed-right__helper {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.feed-right__helper_blue {
  color: #12C2E9;
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.profile-left {
  height: 100%;
  display: flex;
  flex-flow: column;
}
.profile-left__avatar {
  width: 100px;
  height: 100px;
  margin: 8px auto 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-left__avatar img {
  box-shadow: 2px 3px 8px -5px rgba(0, 0, 0, 0.5);
}
.profile-left__exit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
.profile-left__body {
  flex-shrink: 2;
  overflow: auto;
}
.profile-left__options-field {
  margin-bottom: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid #F1F1F1;
}
.profile-left__textarea {
  width: 100%;
  resize: none;
}
.profile-left__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.profile-left__footer {
  padding: 23px 0;
  position: sticky;
  bottom: 0;
  background-color: white;
  box-shadow: 0 -6px 5px -6px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .profile-left__footer {
    flex-flow: column-reverse;
    padding: 12px 0;
  }
  .profile-left__footer .kek {
    margin-top: 12px;
  }
}
@media only screen and (max-width: 1000px) {
  .profile-left__exit {
    border-bottom: 1px solid #F1F1F1;
  }
  .profile-left__footer {
    flex-flow: row;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .profile-left__footer .kek {
    margin-top: 0;
  }
}
.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.btn {
  border-radius: 18px;
  border: none;
  text-align: center;
}
.btn_size_large {
  width: 284px;
  height: 36px;
}
.btn_size_middle {
  width: 116px;
  height: 36px;
}
.btn_color_dark-blue {
  background-color: #325e89;
}
.btn_color_w {
  background-color: white;
}
.btn_color_b {
  background-color: #12C2E9;
}
.btn_color_ok {
  background-color: #F64F59;
}
.btn__text {
  font-size: 24px;
}
.btn__text_w {
  color: white;
}
.btn__text_b {
  color: #12C2E9;
}
.btn_square {
  border-radius: 4px;
}

.re_btn {
  min-width: 96px;
  width: fit-content;
  height: 34px;
  padding: 0 10px;
  border: 0 none;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.re_btn__filled {
  color: white;
  background: linear-gradient(135deg, #12C2E9 0%, #C471ED 50%, #F64F59 100%);
}
.re_btn__outline {
  color: #C471ED;
  background: white;
  border: 1px solid #C471ED;
}
.re_btn:hover {
  border: 1px solid white;
  color: white;
  background: linear-gradient(135deg, #12C2E9 0%, #C471ED 50%, #F64F59 100%);
  box-shadow: 5px 5px 10px #eaeaea, -5px -5px 10px #f8f8f8;
}
.re_btn:active {
  transition: 0.01s;
  transform: scale(0.98);
}
.re_btn__reject {
  width: 218px;
  height: 42px;
  border-radius: 4px;
  background-color: #12C2E9;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  border: none;
  color: white;
}
.re_btn__approve {
  width: 218px;
  height: 42px;
  border-radius: 4px;
  background-color: #F64F59;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  border: none;
  color: white;
}
.re_btn__white {
  min-width: 96px;
  width: fit-content;
  height: 34px;
  box-sizing: content-box;
  text-align: center;
  padding: 5px 40px;
  border: 1px solid white;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
  background: none;
}
@media (hover: hover) {
  .re_btn__white:hover {
    background: linear-gradient(135deg, #12C2E9 0%, #C471ED 50%, #F64F59 100%);
  }
}
.re_btn__white:active {
  background: linear-gradient(135deg, #12C2E9 0%, #C471ED 50%, #F64F59 100%);
  transition: 0.01s;
  transform: scale(0.98);
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  height: 45px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  z-index: 1000;
  position: fixed;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__manage {
  display: flex;
  z-index: 2;
}
.header__logo {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.header__item {
  position: relative;
  height: 45px;
  margin: 0 0 0 23px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
}
.header__item__active {
  color: #191919;
  font-weight: 500;
}
.header__item__link {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #191919;
}
.header__item__sub-menu {
  position: absolute;
  top: 45px;
  right: -24px;
  padding: 0 15px;
  background-color: white;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
  transform-origin: 0 0;
  display: none;
}
.header__item__sub-menu .header__item__link {
  padding-bottom: 15px;
  border-bottom: 1px solid #F1F1F1;
}
.header__item__sub-menu .header__item__link:last-child {
  border-bottom: none;
}
.header__item input {
  display: none;
}
.header__item:hover .header__item__sub-menu {
  display: block;
}
.header__left {
  display: none;
}
.header__right input {
  display: none;
}
.header__icon {
  display: none;
  width: 20px;
  z-index: 1;
}
.header__scroll_up {
  transform: none;
}
.header__scroll_down {
  transform: translateY(-100%);
}

@media only screen and (max-width: 1000px) {
  .header__container {
    width: 100%;
    padding: 0 23px;
  }
}
@media only screen and (max-width: 480px) {
  .header__left {
    display: block;
  }
  .header__right input {
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 11px;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
  }
  .header__right input:checked ~ .header__manage {
    transform: none;
  }
  .header__icon {
    display: block;
  }
  .header__icon svg {
    display: block;
  }
  .header__manage {
    position: absolute;
    right: -23px;
    margin-top: -23px;
    margin-right: 23px;
    padding: 23px 23px 0;
    flex-flow: column;
    align-items: stretch;
    background-color: white;
    border-bottom-left-radius: 4px;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .header__manage .header__icon {
    width: 18px;
    margin-bottom: 15px;
    align-self: flex-end;
  }
  .header__item {
    margin: 0;
    border-bottom: 1px solid #F1F1F1;
    text-align: right;
  }
  .header__item:nth-child(2) a {
    pointer-events: none;
  }
  .header__item:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
  .header__item__sub-menu {
    top: -2px;
    right: 87px;
    padding: 0 18px 0 15px;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
    display: none;
  }
  .header__item input {
    right: -20px;
    width: 110px;
  }
  .header__item input:checked ~ .header__item__sub-menu {
    display: block;
  }
}
.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-block;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: transparent;
}
.icon_size_small {
  width: 8px;
  height: 8px;
}
.icon_size_x {
  width: 14px;
  height: 14px;
}
.icon_size_xx {
  width: 24px;
  height: 24px;
}
.icon_size_xxx {
  width: 36px;
  height: 36px;
}
.icon_size_large {
  width: 178px;
  height: 40px;
}
.icon__search {
  -webkit-mask-image: url("../icons/search.svg");
  mask-image: url("../icons/search.svg");
}
.icon__close {
  -webkit-mask-image: url("../icons/close.svg");
  mask-image: url("../icons/close.svg");
}
.icon__users {
  -webkit-mask-image: url("../icons/users.svg");
  mask-image: url("../icons/users.svg");
}
.icon__add {
  -webkit-mask-image: url("../icons/add.svg");
  mask-image: url("../icons/add.svg");
}
.icon__twitter {
  -webkit-mask-image: url("../icons/twitter.svg");
  mask-image: url("../icons/twitter.svg");
}
.icon__vk {
  -webkit-mask-image: url("../icons/vk.svg");
  mask-image: url("../icons/vk.svg");
}
.icon__inst {
  -webkit-mask-image: url("../icons/inst.svg");
  mask-image: url("../icons/inst.svg");
}
.icon__ok {
  -webkit-mask-image: url("../icons/ok.svg");
  mask-image: url("../icons/ok.svg");
}
.icon__fb {
  -webkit-mask-image: url("../icons/fb.svg");
  mask-image: url("../icons/fb.svg");
}
.icon__moimir {
  -webkit-mask-image: url("../icons/moimir.svg");
  mask-image: url("../icons/moimir.svg");
}
.icon__more {
  -webkit-mask-image: url("../icons/more.svg");
  mask-image: url("../icons/more.svg");
}
.icon_btn {
  cursor: pointer;
}
.icon__main {
  color: red;
}
.icon__size_large-x {
  width: 20px;
  height: 20px;
}
.icon__size_m {
  width: 90px;
  height: 35px;
}
.icon__size_small {
  width: 15px;
  height: 15px;
}
.icon__size_small-xx {
  width: 12px;
  height: 12px;
}
.icon__size_middle {
  width: 32px;
  height: 32px;
}
.icon_color_black {
  background-color: #191919;
}
.icon_color_red {
  background-color: #F64F59;
}
.icon_color_gray {
  background-color: dimgrey;
}
.icon_color_lg {
  background-color: #b6bebf;
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .spinner, .chat-list-item__empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

/*-------------------------------------------*\
   Windows 8 spinner
\*-------------------------------------------*/
.spinner__icon {
  width: 60px;
  height: 60px;
  margin: 60px;
  animation: rotate 1.4s infinite ease-in-out, background 1.4s infinite ease-in-out alternate;
}
.spinner__message {
  color: #D5D5D5;
}

@keyframes rotate {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}
@keyframes background {
  0% {
    background-color: #12C2E9;
  }
  50% {
    background-color: #F64F59;
  }
  100% {
    background-color: #C471ED;
  }
}
.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .chat-list-item__empty-list, .spinner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.modal__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modal__window {
  width: auto;
  height: auto;
  max-width: 75vw;
  padding: 0 12px;
  background-color: white;
  border-radius: 4px;
}
.modal__header {
  padding: 15px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.modal__header-icon {
  margin-left: 23px;
  width: 15px;
  height: auto;
}
.modal__body {
  max-height: calc(75vh - 62px - 15px - 32px - 2px);
  margin-bottom: 15px;
  overflow: auto;
}
.modal__footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 15px;
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .chat-list-item__empty-list, .spinner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.tag {
  width: fit-content;
  padding: 4px;
  border-radius: 4px;
  margin: 0 5px 5px 0;
  text-align: center;
  color: white;
  font-weight: 700;
  background: linear-gradient(135deg, #12C2E9 0%, #C471ED 50%, #F64F59 100%);
  transform: translateZ(-1px);
}
.tag__container {
  width: fit-content;
  opacity: 0.5;
  display: flex;
  justify-content: left;
  align-items: baseline;
  transform-style: preserve-3d;
  cursor: pointer;
}
.tag__container_active {
  opacity: 1;
}
.tag__container_active .tag {
  opacity: 1;
}
.tag__container_active .tag__button {
  display: block;
  opacity: 0;
}
.tag__container:hover .tag__button {
  opacity: 0.3;
}
.tag__button {
  width: 10px;
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search-tag {
  display: flex;
  justify-content: right;
  align-items: center;
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .chat-list-item__empty-list, .spinner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.input {
  border-radius: 2px;
  outline: none;
}
.input__text_small {
  width: 232px;
  height: 100px;
}
.input__text_middle {
  width: 300px;
  height: 120px;
}
.input__auth {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 2px solid #F1F1F1;
  transition-property: border-bottom-color;
  transition-duration: 0.3s;
}
.input__auth:focus {
  border-bottom-color: #C471ED;
}
.input__auth_incorrect {
  border-bottom-color: red;
}
.input__auth::placeholder {
  color: #D5D5D5;
}
.input__search {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
  border: none;
  vertical-align: middle;
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.error, .chat-list-item__empty-list, .spinner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.error svg {
  max-width: 150px;
}
.error__message {
  padding: 0 12px;
  color: #D5D5D5;
  text-align: center;
}
.error__button {
  margin-bottom: 15px;
}

.event {
  width: 100%;
  display: block;
  align-items: center;
  text-align: center;
}
.event__item {
  width: 84%;
  margin-bottom: 20px;
  border-radius: 13px;
  background-color: white;
}
.event__title {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.event__place {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: black;
}
.event__photos {
  width: auto;
  height: 100px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.event__photos_one {
  width: auto;
  max-height: 100%;
  margin-right: 2px;
}
.event__line {
  width: 84%;
  margin: 4px auto 4px;
  border: 0.5px solid #c8c8c8;
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.chat-list-item__empty-list, .spinner, .error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.chat-list-item__empty-list, .spinner, .error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.font {
  font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
}
.font__title {
  font-weight: bold;
  font-size: 32px;
}
.font__title_card {
  font-size: 18px;
}
.font__color_w {
  color: white;
}
.font__color_blue {
  color: #12C2E9;
}
.font__color_black {
  color: #191919;
}
.font__color_lg {
  color: #b6bebf;
}
.font__color_g {
  color: #696969;
}
.font__color_green {
  color: #10e718;
}
.font__color_red {
  color: #F64F59;
}
.font_bold {
  font-weight: bold;
}
.font__size_small {
  font-size: 16px;
}
.font__size_small-x {
  font-size: 14px;
}
.font__size_small-xx {
  font-size: 12px;
}
.font__size_small-xxx {
  font-size: 8px;
}
.font__size_middle {
  font-size: 24px;
}
.font__helper {
  font-size: 12px;
  font-weight: bold;
  font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
}
.font_pointer {
  cursor: pointer;
}
.font_underline {
  text-decoration: underline;
}
.font_bold {
  font-weight: bold;
}
.font_medium {
  font-weight: 500;
}
.font_regular {
  font-weight: 400;
}
.font_light {
  font-weight: 300;
}

.big-event {
  width: 236px;
  break-inside: avoid;
  counter-increment: item-counter;
  text-align: left;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.4);
}
.big-event__description {
  margin: 0 12px 12px;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.3;
}
.big-event__title {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}
.big-event__subscribe {
  width: 160px;
  list-style-type: disc;
}
.big-event__subscribe_big {
  color: #F64F59;
}
.big-event__subscribe_middle {
  color: #12C2E9;
  width: 180px;
}
.big-event__link {
  position: relative;
  left: -10px;
  display: inline-block;
}
.big-event__date {
  padding-top: 12px;
  padding-bottom: 10px;
}
.big-event__follow {
  display: flex;
  padding: 4px 0 12px;
}
.big-event__follow_count {
  display: flex;
  align-items: center;
}
.big-event__icon {
  padding-right: 8px;
}
.big-event__line {
  width: 100%;
  margin: 4px 1px 4px;
  border: 0.5px solid #c8c8c8;
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.chat-list-item__empty-list, .spinner, .error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.edit-field__form {
  display: flex;
  flex-direction: column;
}
.edit-field__row {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  padding: 8px 0 8px 0;
}
.edit-field__name {
  width: 190px;
}
.edit-field__input {
  width: 190px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid rgba(31, 63, 81, 0.6);
}
.edit-field__input_textarea {
  width: 100%;
  height: 50px;
  resize: none;
}
.edit-field__buttons {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.chat-list-item__empty-list, .spinner, .error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 15px 0;
  width: 100%;
  cursor: grab;
  pointer-events: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:active::-webkit-slider-runnable-track {
  background: linear-gradient(135deg, #12C2E9 0%, #C471ED 50%, #F64F59 100%);
}
input[type=range]:active::-ms-fill-lower {
  background: #D5D5D5;
}
input[type=range]:active::-ms-fill-upper {
  background: linear-gradient(135deg, #12C2E9 0%, #C471ED 50%, #F64F59 100%);
}
input[type=range]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid white;
  background: linear-gradient(135deg, #12C2E9 0%, #C471ED 50%, #F64F59 100%);
  cursor: pointer;
  margin-top: -12px;
  box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.15);
  pointer-events: auto;
  -webkit-appearance: none;
}
input[type=range]::-ms-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid white;
  background: linear-gradient(135deg, #12C2E9 0%, #C471ED 50%, #F64F59 100%);
  cursor: pointer;
  margin-top: -12px;
  box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.15);
  pointer-events: auto;
  appearance: none;
}
input[type=range]::-moz-range-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid white;
  background: linear-gradient(135deg, #12C2E9 0%, #C471ED 50%, #F64F59 100%);
  cursor: pointer;
  margin-top: -12px;
  box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.15);
  pointer-events: auto;
  -moz-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #D5D5D5;
  -webkit-transition: all 0.5s ease-in-out;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #D5D5D5;
  -moz-transition: all 0.5s ease-in-out;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #D5D5D5;
  transition: all 0.5s ease-in-out;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: linear-gradient(135deg, #12C2E9 0%, #C471ED 50%, #F64F59 100%);
}
input[type=range]::-ms-fill-upper {
  background: #D5D5D5;
}

.slider {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-flow: column;
  font-size: 10px;
  font-weight: 500;
}
.slider__maxmin {
  width: 100%;
  height: auto;
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #D5D5D5;
}
.slider__value {
  position: absolute;
  left: 1px;
  top: 16px;
  width: 24px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
  pointer-events: none;
}
.slider__value::before {
  content: attr(slider_value);
}
.slider__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.slider__title {
  font-size: 10px;
  font-weight: 500;
  color: #191919;
  margin-right: 5px;
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.chat-list-item__empty-list, .spinner, .error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.section {
  width: 100%;
}
.section__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__header h1, .section__header h2, .section__header h3 {
  margin: 0;
}
.section__header a {
  text-align: right;
  text-decoration: none;
}
.section__header a:hover {
  color: #C471ED;
  text-decoration: underline;
}
.section__header_1 {
  margin-bottom: 23px;
}
.section__header_2 {
  margin-bottom: 15px;
}
.section__header_3 {
  margin-bottom: 12px;
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.chat-list-item__empty-list, .spinner, .error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.photo-columns {
  width: 100%;
  max-height: 100%;
  column-count: 2;
  column-gap: 7px;
  -moz-column-count: 2;
  -moz-column-gap: 7px;
  -webkit-column-count: 2;
  -webkit-column-gap: 7px;
}
.photo-columns__photo {
  width: 100%;
  height: auto;
  margin-bottom: 3px;
  border-radius: 4px;
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.chat-list-item__empty-list, .spinner, .error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #F1F1F1;
  background-color: white;
  box-shadow: 5px 5px 12px #eaeaea, -5px -5px 12px #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.circle:active {
  transition: 0.01s;
  transform: scale(0.98);
}
.circle:hover, .circle_active {
  background: linear-gradient(135deg, #12C2E9 0%, #C471ED 50%, #F64F59 100%);
  border-color: white;
}
.circle:hover #icon, .circle_active #icon {
  fill: white;
}

#icon {
  height: 22px;
  width: auto;
  fill: #D5D5D5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.link-uploader label, .section__header a {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.chat-list-item__empty-list, .spinner, .error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

/*-------------------------------------------*\
    File input as link

    Example:
    <div class="link-uploader">
        <label for="fileUpload">Добавить</label>
        <input id="fileUpload" type="file" />
    </div>
\*-------------------------------------------*/
.link-uploader label {
  text-align: right;
}
.link-uploader:hover label {
  color: #C471ED;
  text-decoration: underline;
}
.link-uploader input {
  display: none;
}

.validation-error {
  font-size: 10px;
  font-weight: 400;
  color: red;
}

.section__header a, .link-uploader label {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.chat-list-item__empty-list, .spinner, .error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.modal__container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__window {
  background-color: white;
  width: 360px;
  height: fit-content;
  overflow: auto;
  margin: auto;
  padding: 23px;
  border-radius: 4px;
}

.section__header a, .link-uploader label {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.chat-list-item__empty-list, .spinner, .error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.section__header a, .link-uploader label {
  color: #12C2E9;
  font-size: 10px;
  font-weight: 400;
}

.chat-list-item__empty-list, .spinner, .error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.font {
  font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
}
.font__title {
  font-weight: bold;
  font-size: 32px;
}
.font__title_card {
  font-size: 18px;
}
.font__color_w {
  color: white;
}
.font__color_blue {
  color: #12C2E9;
}
.font__color_black {
  color: #191919;
}
.font__color_lg {
  color: #b6bebf;
}
.font__color_g {
  color: #696969;
}
.font__color_green {
  color: #10e718;
}
.font__color_red {
  color: #F64F59;
}
.font_bold {
  font-weight: bold;
}
.font__size_small {
  font-size: 16px;
}
.font__size_small-x {
  font-size: 14px;
}
.font__size_small-xx {
  font-size: 12px;
}
.font__size_small-xxx {
  font-size: 8px;
}
.font__size_middle {
  font-size: 24px;
}
.font__helper {
  font-size: 12px;
  font-weight: bold;
  font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
}
.font_pointer {
  cursor: pointer;
}
.font_underline {
  text-decoration: underline;
}
.font_bold {
  font-weight: bold;
}
.font_medium {
  font-weight: 500;
}
.font_regular {
  font-weight: 400;
}
.font_light {
  font-weight: 300;
}

.img__event {
  object-fit: cover;
  object-position: 100% 0;
  width: 100%;
  border-radius: 2px 2px 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: #F1F1F1;
  text-decoration: none;
  font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
}

textarea {
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s ease-in-out;
  font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
}
textarea:focus {
  border-color: #191919;
}

#application {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: center;
}

.container {
  position: relative;
  width: 1000px;
  box-sizing: border-box;
  height: 100%;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
h1 {
  font-size: 32px;
  font-weight: 700;
  color: #191919;
  margin: 0 0 23px;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  color: #191919;
  margin: 0 0 15px;
}

h3 {
  font-size: 12px;
  font-weight: 700;
  color: #191919;
  margin: 0 0 12px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  box-sizing: border-box;
}
.separator_vertical {
  width: 1px;
}
.separator_horizontal {
  width: 100%;
  height: 1px;
}
.separator_gray_black {
  background: #686868;
  background: radial-gradient(circle, #686868 66%, rgba(25, 25, 25, 0) 95%);
}
.separator_white_blue {
  background: white;
  background: radial-gradient(circle, white 66%, rgba(18, 194, 233, 0) 95%);
}
.separator_lightgray_white {
  background: #F1F1F1;
  background: radial-gradient(circle, #F1F1F1 66%, rgba(255, 255, 255, 0) 95%);
}

.gradient-text {
  background: linear-gradient(135deg, #12C2E9 0%, #C471ED 50%, #F64F59 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.full-height {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
