<div class="big-event">
    <div class="big-event__photo">
        <img src="img/{{ photos }}" class="img img__event" alt="{{ name }}">
    </div>
    <div class="big-event__title">
        <div class="font font__color_black font__title font__title_card font__size_small">{{ name }}</div>
    </div>
    <div class="big-event__description">
        <div class="big-event__description_inact">
            <div class="font font__color_black font__size_small-x">{{ about }}</div>
        </div>
        <hr class="big-event__line"/>
        <div class="big-event__follow">
            <li class="big-event__subscribe big-event__subscribe_middle">
                <div class="big-event__link">
                    <div class="font font__size_small-x font_underline font_pointer font__color_black">Смотреть</div>
                </div>
            </li>
        </div>
    </div>
</div>
