{{# if without_parent}}{{else}}<div class="snackbar snackbar_hidden">{{/if}}
    <div class="snackbar__body">{{ body_message }}</div>
    <div class="snackbar__button">OK</div>
{{# if without_parent}}{{else}}</div>{{/if}}