@import "../../modules/variables";

.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-black;
  margin-top: 0;

  &__manage {
    list-style: none;
    display: flex;
  }

  &__item {
    text-decoration: none;
    margin: 12px;
    color: $color-white;
    font-size: 1rem;
  }
}