@import "../../modules/variables";

.header {
  width: 100%;
  height: 45px;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto; // grow shrink basis
  z-index: 1;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__manage {
    display: flex;
  }

  &__logo {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }

  &__item {
    text-decoration: none;
    margin: 0 0 0 $re--big-padding;
    color: $color-black;
    font-size: 14px;
    font-weight: 500;
  }
}