@import "../../modules/variables";

$header-width: 1000px;
$header-icon-width: 20px;

.header {
  width: 100%;
  height: $header-height;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  flex: 0 0 auto; // grow shrink basis
  z-index: $z-index-header;
  position: fixed;
  top: 0;
  box-shadow: 0 0 10px rgba(0,0,0, 0.12);
  @include transition(0.3s, ease-in-out);

  &__container {
    width: $header-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__manage {
    display: flex;
    z-index: $z-index-header;
  }

  &__logo {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }

  &__item {
    position: relative;
    height: $header-height;
    margin: 0 0 0 23px;
    text-align: center;
    vertical-align: middle;
    line-height: $header-height;

    &__active {
      color: $color-black;
      font-weight: 500;
    }

    &__link {
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      color: $color-black;
    }

    &__sub-menu {
      position: absolute;
      top: 45px;
      right: -24px;
      padding: 0 15px;
      background-color: $color-white;
      border-radius: 0 0 4px 4px;
      box-shadow: 0 3px 7px 0 rgba(0,0,0,.5);
      transform-origin: 0 0;
      display: none;

      & .header__item__link:hover {
        & ~ .header__item__sub-menu {
          display: block;
        }
      }

      & > input[type="checkbox"] {
        height: 100%;
        width: 100%;

        &:checked ~ .header__item__sub-menu {
          display: block;
        }
      }
    }

    & input {
      display: none;
    }

    &:hover > .header__item__sub-menu {
      display: block;
    }
  }

  &__left {
    display: none;
  }

  &__right {
    & input {
      display: none;
    }
  }

  &__icon {
    display: none;
    width: $header-icon-width;
    z-index: $z-index-header;
  }

  &__scroll {
    &_up {
      transform: none;
    }

    &_down {
      transform: translateY(-100%);
    }
  }
}

@media only screen and (max-width: 1000px) {
  .header {

    &__container {
      width: 100%;
      padding: 0 $re--big-padding;
    }
  }
}

@media only screen and (max-width: $breakpoint-phone) {
  .header {
    &__left {
      display: block;
    }

    &__right {
      & input {
        display: block;
        width: $header-height;
        height: $header-height;
        position: absolute;
        z-index: $z-index-snackbar;
        top: 0;
        right: 11px;
        padding: 0;
        margin: 0;

        opacity: 0;
        cursor: pointer;

        &:checked ~ .header__manage {
          transform: none;
        }
      }
    }

    &__icon {
      display: block;

      & svg {
        display: block;
      }
    }

    &__manage {
      position: absolute;
      right: -$re--big-padding;
      margin-top: -$re--big-padding;
      margin-right: $re--big-padding;
      padding: $re--big-padding $re--big-padding 0;
      flex-flow: column;
      align-items: stretch;
      background-color: $color-white;
      border-bottom-left-radius: $re--border-radius;

      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */

      transform-origin: 0% 0%;
      transform: translate(0, -100%);

      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

      & .header__icon {
        width: $header-icon-width - 2px;
        margin-bottom: $re--medium-padding;
        align-self: flex-end;
      }
    }

    &__item {
      margin: 0;
      border-bottom: 1px solid #F1F1F1;
      text-align: right;

      &:nth-child(2) a {
        pointer-events: none;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }

      &__sub-menu {
        top: -2px;
        right: 87px;
        padding: 0 18px 0 15px;
        border-radius: 4px 0 0 4px;
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .5);
        display: none;
      }
      & input {
        right: -20px;
        width: 110px;

        &:checked ~ .header__item__sub-menu {
          display: block;
        }
      }
    }
  }
}