<header class="header">
    <div class="header__container">
        <div class="header__left">
            <div class="header__icon" data-bind-event="searchRedirect">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.999 511.999">
                    <path d="M508.874 478.708L360.142 329.976c28.21-34.827 45.191-79.103 45.191-127.309C405.333 90.917 314.416 0 202.666 0S0 90.917 0 202.667s90.917 202.667 202.667 202.667c48.206 0 92.482-16.982 127.309-45.191l148.732 148.732c4.167 4.165 10.919 4.165 15.086 0l15.081-15.082c4.165-4.166 4.165-10.92-.001-15.085zM202.667 362.667c-88.229 0-160-71.771-160-160s71.771-160 160-160 160 71.771 160 160-71.771 160-160 160z"/>
                </svg>
            </div>
        </div>
        <div class="header__logo gradient-text" data-bind-event="homeRedirect">EVENTUM</div>
        <div class="header__right">
            <input type="checkbox" />
            <nav class="header__manage" data-bind-event="headerItemPressed">
                <div class="header__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001">
                        <path d="M284.286 256.002L506.143 34.144c7.811-7.811 7.811-20.475 0-28.285-7.811-7.81-20.475-7.811-28.285 0L256 227.717 34.143 5.859c-7.811-7.811-20.475-7.811-28.285 0-7.81 7.811-7.811 20.475 0 28.285l221.857 221.857L5.858 477.859c-7.811 7.811-7.811 20.475 0 28.285 3.905 3.905 9.024 5.857 14.143 5.857 5.119 0 10.237-1.952 14.143-5.857L256 284.287l221.857 221.857c3.905 3.905 9.024 5.857 14.143 5.857s10.237-1.952 14.143-5.857c7.811-7.811 7.811-20.475 0-28.285L284.286 256.002z"/>
                    </svg>
                </div>
                {{#each buttons}}
                    <div class="header__item">
                        <a class="header__item__link" href="{{ link }}">{{ name }}</a>
                        {{#if sub_buttons}}
                            <input type="checkbox" />
                            <div class="header__item__sub-menu">
                                {{#each sub_buttons}}
                                    <a class="header__item__link" href="{{ link }}">{{ name }}</a>
                                {{/each}}
                            </div>
                        {{/if}}
                    </div>
                {{/each}}
            </nav>
            <div class="header__icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M492 236H20c-11.046 0-20 8.954-20 20s8.954 20 20 20h472c11.046 0 20-8.954 20-20s-8.954-20-20-20zM492 76H20C8.954 76 0 84.954 0 96s8.954 20 20 20h472c11.046 0 20-8.954 20-20s-8.954-20-20-20zM492 396H20c-11.046 0-20 8.954-20 20s8.954 20 20 20h472c11.046 0 20-8.954 20-20s-8.954-20-20-20z"/>
                </svg>
            </div>
        </div>
    </div>
</header>
