<header class="header">
    <img class="image icon_btn icon__size_m header__item" src="{{ logo }}" alt="Eventum">
    <nav class="header__manage">
        {{#each buttons}}
            <a class="header__item" href="{{ link }}">{{ name }}</a>
        {{/each}}
    </nav>
</header>
