<header class="header">
    <div class="header__container container">
        <div class="header__logo gradient-text">EVENTUM</div>
        <nav class="header__manage">
            {{#each buttons}}
                <a class="header__item" href="{{ link }}">{{ name }}</a>
            {{/each}}
        </nav>
    </div>
</header>
