@import "../../modules/variables";

$icons-path: "../icons/";
$images-path: "../images/";

$search-icon: $icons-path + "search.svg";
$eventum-icon: $images-path + "logo.png";
$more-icon: $icons-path + "more.svg";
$close-icon: $icons-path + "close.svg";
$add-icon: $icons-path + "add.svg";
$users-icon: $icons-path + "users.svg";

$icon-size: 14px, 14px;

.icon {
  display: inline-block;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: transparent;

  &_size {
    &_small {
      width: 8px;
      height: 8px;
    }

    &_x {
      width: 14px;
      height: 14px;
    }

    &_xx {
      width: 24px;
      height: 24px;
    }

    &_xxx {
      width: 36px;
      height: 36px;
    }

    &_large {
      width: 178px;
      height: 40px;
    }
  }

  &__search {
    -webkit-mask-image: url($search-icon);
    mask-image: url($search-icon);
  }

  &__close {
    -webkit-mask-image: url($close-icon);
    mask-image: url($close-icon);
  }

  &__users {
    -webkit-mask-image: url($users-icon);
    mask-image: url($users-icon);
  }

  &__add {
    -webkit-mask-image: url($add-icon);
    mask-image: url($add-icon);
  }

  &__eventum {
    //-webkit-mask-image: url($eventum-icon);
    //mask-image: url($eventum-icon);
  }

  &__more {
    -webkit-mask-image: url($more-icon);
    mask-image: url($more-icon);
  }

  &_btn {
    cursor: pointer;
  }

  &__main {
    color: red;
  }

  &__size {
    &_large-x {
      width: 20px;
      height: 20px;
    }

    &_m {
      width: 90px;
      height: 35px;
    }

    &_small {
      width: 15px;
      height: 15px;
    }

    &_middle {
      width: 32px;
      height: 32px;
    }
  }

  &_color {
    &_black {
      background-color: $color-black;
    }
    &_red {
      background-color: $color-red;
    }
    &_gray {
      background-color: dimgrey;
    }
  }
}

