@import "../../modules/variables";

$icons-path: "static/icons/";
$images-path: "static/images/";

$search-icon: $icons-path + "search.svg";
$eventum-icon: $images-path + "logo.png";
$more-icon: $icons-path + "more.svg";
$close-icon: $icons-path + "close.svg";
$add-icon: $icons-path + "add.svg";
$users-icon: $icons-path + "users.svg";
$twitter-icon: $icons-path + "twitter.svg";
$fb-icon: $icons-path + "fb.svg";
$ok-icon: $icons-path + "ok.svg";
$vk-icon: $icons-path + "vk.svg";
$inst-icon: $icons-path + "inst.svg";
$moimir-icon: $icons-path + "moimir.svg";

$icon-size: 14px, 14px;

.icon {
  display: inline-block;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: transparent;

  &_size {
    &_small {
      width: 8px;
      height: 8px;
    }

    &_x {
      width: 14px;
      height: 14px;
    }

    &_xx {
      width: 24px;
      height: 24px;
    }

    &_xxx {
      width: 36px;
      height: 36px;
    }

    &_large {
      width: 178px;
      height: 40px;
    }
  }

  &__search {
    -webkit-mask-image: url($search-icon);
    mask-image: url($search-icon);
  }

  &__close {
    -webkit-mask-image: url($close-icon);
    mask-image: url($close-icon);
  }

  &__users {
    -webkit-mask-image: url($users-icon);
    mask-image: url($users-icon);
  }

  &__add {
    -webkit-mask-image: url($add-icon);
    mask-image: url($add-icon);
  }

  &__eventum {
    //-webkit-mask-image: url($eventum-icon);
    //mask-image: url($eventum-icon);
  }

  &__twitter {
    -webkit-mask-image: url($twitter-icon);
    mask-image: url($twitter-icon);
  }

  &__vk {
    -webkit-mask-image: url($vk-icon);
    mask-image: url($vk-icon);
  }

  &__inst {
    -webkit-mask-image: url($inst-icon);
    mask-image: url($inst-icon);
  }

  &__ok {
    -webkit-mask-image: url($ok-icon);
    mask-image: url($ok-icon);
  }

  &__fb {
    -webkit-mask-image: url($fb-icon);
    mask-image: url($fb-icon);
  }

  &__moimir {
    -webkit-mask-image: url($moimir-icon);
    mask-image: url($moimir-icon);
  }


  &__more {
    -webkit-mask-image: url($more-icon);
    mask-image: url($more-icon);
  }

  &_btn {
    cursor: pointer;
  }

  &__main {
    color: red;
  }

  &__size {
    &_large-x {
      width: 20px;
      height: 20px;
    }

    &_m {
      width: 90px;
      height: 35px;
    }

    &_small {
      width: 15px;
      height: 15px;
    }

    &_small-xx {
      width: 12px;
      height: 12px;
    }

    &_middle {
      width: 32px;
      height: 32px;
    }

  }


  &_color {
    &_black {
      background-color: $color-black;
    }

    &_red {
      background-color: $color-red;
    }

    &_gray {
      background-color: dimgrey;
    }

    &_lg {
      background-color: $color-light-gray;
    }
  }

}

