@import "../../modules/variables";

.creator_card {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: $re--large-padding;

  &__avatar {
    width: 180px;
    height: 180px;
    border: 2px solid $color-white;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #11b4d9,
              -5px -5px 10px #13d0f9;
  }

  &__name {
    margin: $re--big-padding 0;
    font-size: 28px;
    font-weight: 500;
    cursor: default;
  }

  &__about {
    font-size: 16px;
    font-weight: 400;
    cursor: default;
  }

  & .separator_horizontal {
    margin: 19px 0;
  }

  &__links {
    display: flex;
    justify-content: space-between;

    & svg {
      width: 28px;
      height: 28px;
      margin: 0 5px;
      opacity: 0.5;
      @include transition(0.3s, ease-in-out);

      &:hover,
      &:active {
        opacity: 1;
      }
    }
  }
}