.event {
  width: 100%;
  display: block;
  align-items: center;
  text-align: center;

  &__item {
    width: 84%;
    margin-bottom: 20px;
    border-radius: 13px;
    background-color: white;
  }

  &__title {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: black;
  }

  &__place {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: black;
  }

  &__photos {
    width: auto;
    height: 100px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &_one {
      width: auto;
      max-height: 100%;
      margin-right: 2px;
    }
  }
  &__line {
    width: 84%;
    margin: 4px auto 4px;
    border: 0.5px solid #c8c8c8;
  }
}