@import "../../modules/variables";

.btn {
  border-radius: 18px;
  border: none;
  text-align: center;

  &_size {
    &_large {
      width: 284px;
      height: 36px;
    }

    &_middle {
      width: 116px;
      height: 36px;
    }
  }

  &_color {
    &_dark-blue {
      background-color: $color-dark-blue;
    }
    &_w {
      background-color: $color-white;
    }
    &_b {
      background-color: $color-blue;
    }
    &_ok {
      background-color: $color-red;
    }
  }

  &__text {
    font-size: 24px;
    &_w {
      color: $color-white;
    }
    &_b {
      color: $color-blue;
    }
  }

  &_square {
    border-radius: 4px;
  }
}

.re_btn {
  min-width: 104px;
  width: fit-content;
  padding: 0 20px;
  height: 34px;
  font-size: 12px;
  font-weight: 300;
  border-radius: $re--border-radius;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  border: 0 none;

  &__filled {
    color: $color-white;
    background: $re--gradient;
  }
  &__outline {
    color: $color-purple;
    background: $color-white;
    border: 1px solid $color-purple; // TODO: replace with gradient

    &:hover {
      border: 0;
      color: $color-white;
      background: $re--gradient;
      box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.15);
    }
  }

  &:active {
    transition: 0.01s;
    transform: scale(0.98);
  }
}