@import "../../modules/variables";

.my {
  width: 100%;
  position: absolute;
  top: (10px + $header-height);
  bottom: 10px;
  border-radius: $re--border-radius;
  background-color: $color-white;
  box-shadow: 20px 20px 60px #cdcdcd,
  -20px -20px 60px #ffffff;
  display: flex;

  &__left-column {
    width: 25%;
    max-height: 100%;
    box-sizing: border-box;
    border-right: 1px solid $re--color-light-gray;
    border-top-left-radius: $re--border-radius;
    border-bottom-left-radius: $re--border-radius;
    background-color: $color-white;
    display: flex;
    flex-flow: column;
    justify-content: stretch;

    -webkit-border-top-left-radius: $re--border-radius;
    -webkit-border-bottom-left-radius: $re--border-radius;
    -moz-border-radius-topleft: $re--border-radius;
    -moz-border-radius-bottomleft: $re--border-radius;
  }

  &__left-column-header {
    height: 88px;
    flex: 0 0 auto;
    border-bottom: 1px solid $re--color-light-gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
  }

  &__left-column-body {
    height: 100%;
    padding: $re--medium-padding $re--medium-padding 0;
    position: relative;
    min-height: 0px;

    &_page {
      &-chat {
        padding: 15px 0 0;
        min-height: 0;
      }
    }
  }

  &__main-column {
    width: 75%;
    max-height: 100%;
    border-radius: $re--border-radius;
    flex: 1 1;
    background-color: $color-white;
    padding: $re--big-padding;

    &-body {
      width: 100%;
      height: calc(100% - 39px);
      display: flex;
      align-items: flex-start;
    }
  }
}

@media only screen and (max-width: $breakpoint-1000) {
  .my {
    position: relative;
    margin-top: $header-height;
    border-radius: 0;
    box-shadow: none;
    flex-flow: column;

    &__left-column {
      width: 100%;
    }

    &__left-column-header {
      height: 55px;
      z-index: 2;
      border-top: 1px solid #f1f1f1;
      position: fixed;
      width: 100%;
      top: 45px;
    }

    &__left-column-body {

      &_page {
        &-chat {

        }
      }
    }

    &__main-column {
      padding: 0;
      max-height: 0;
      border-radius: 0;
      margin-bottom: 35px;

      &-body {
        height: 100%;
        padding: 0 $re--medium-padding;
      }
    }
  }
}