<div class="container">
    <div class="my">
        <div class="my__left-column">
            <div class="my__left-column-header">
                <div class="circle" data-circle-href="/my/chats">
                    <svg id="icon" viewBox="0 -26 512 512" xmlns="http://www.w3.org/2000/svg">
                        <path d="m256 100c-5.5195 0-10 4.4805-10 10s4.4805 10 10 10 10-4.4805 10-10-4.4805-10-10-10z"/>
                        <path d="m90 280c5.5195 0 10-4.4805 10-10s-4.4805-10-10-10-10 4.4805-10 10 4.4805 10 10 10z"/>
                        <path d="m336 0c-90.027 0-163.92 62.07-169.63 140.25-85.738 4.3008-166.37 66.125-166.37 149.75 0 34.945 13.828 68.805 39 95.633 4.9805 20.531-1.0664 42.293-16.07 57.297-2.8594 2.8594-3.7148 7.1602-2.168 10.898 1.5469 3.7344 5.1914 6.1719 9.2383 6.1719 28.52 0 56.004-11.184 76.426-30.891 19.895 6.7812 45.852 10.891 69.574 10.891 90.016 0 163.9-62.055 169.63-140.22 20.938-0.92969 42.715-4.7969 59.945-10.668 20.422 19.707 47.906 30.891 76.426 30.891 4.0469 0 7.6914-2.4375 9.2383-6.1719 1.5469-3.7383 0.69141-8.0391-2.168-10.898-15.004-15.004-21.051-36.766-16.07-57.297 25.172-26.828 39-60.688 39-95.633 0-86.887-86.84-150-176-150zm-160 420c-23.602 0-50.496-4.6328-68.512-11.801-3.8594-1.5391-8.2695-0.52734-11.078 2.5391-12.074 13.199-27.773 22.402-44.879 26.633 9.4258-18.059 11.832-39.348 6.0977-59.52-0.45312-1.5898-1.293-3.043-2.4453-4.2266-22.688-23.367-35.184-53.066-35.184-83.625 0-70.469 71.438-130 156-130 79.852 0 150 55.527 150 130 0 71.684-67.289 130-150 130zm280.82-186.38c-1.1523 1.1875-1.9922 2.6406-2.4453 4.2266-5.7344 20.172-3.3281 41.461 6.0977 59.52-17.105-4.2266-32.805-13.434-44.879-26.633-2.8086-3.0625-7.2188-4.0781-11.078-2.5391-15.613 6.2109-37.887 10.512-58.914 11.551-2.9219-37.816-21.785-73.359-54.035-99.75h130.44c5.5234 0 10-4.4766 10-10s-4.4766-10-10-10h-161.16c-22.699-11.555-48.188-18.293-74.422-19.707 5.7461-67.164 70.641-120.29 149.58-120.29 84.562 0 156 59.531 156 130 0 30.559-12.496 60.258-35.184 83.625z"/>
                        <path d="m256 260h-126c-5.5234 0-10 4.4766-10 10s4.4766 10 10 10h126c5.5234 0 10-4.4766 10-10s-4.4766-10-10-10z"/>
                        <path d="m256 320h-166c-5.5234 0-10 4.4766-10 10s4.4766 10 10 10h166c5.5234 0 10-4.4766 10-10s-4.4766-10-10-10z"/>
                        <path d="m422 100h-126c-5.5234 0-10 4.4766-10 10s4.4766 10 10 10h126c5.5234 0 10-4.4766 10-10s-4.4766-10-10-10z"/>
                    </svg>
                </div>
                <div class="circle" data-circle-href="/my/mail">
                    <svg id="icon" enable-background="new 0 0 512 512" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <path d="m511.61 197.6c-1e-3 -0.77-0.173-1.933-0.472-2.603-0.787-2.854-2.536-5.461-5.154-7.281l-73.292-50.948v-54.616c0-7.24-5.872-13.112-13.112-13.112h-84.319l-71.743-49.878c-4.484-3.121-10.437-3.134-14.935-0.026l-72.206 49.904h-83.95c-7.242 0-13.112 5.872-13.112 13.112v53.973l-73.648 50.901c-3.623 2.504-5.583 6.507-5.645 10.6-4e-3 0.077-0.021 0.15-0.021 0.23l0.391 284.24c5e-3 3.477 1.391 6.81 3.852 9.266 2.458 2.451 5.788 3.827 9.26 3.827h0.018l485.38-0.667c7.24-0.01 13.104-5.889 13.094-13.13l-0.391-283.79zm-78.919-28.893 41.898 29.118-41.898 29.128v-58.246zm-176.68-122.82 33.31 23.156h-66.812l33.502-23.156zm-150.48 49.381h300.93v149.92l-101.04 70.242-41.194-31.954c-0.064-0.05-0.119-0.081-0.181-0.126-4.604-3.454-11.116-3.581-15.894 0.126l-41.493 32.185-101.13-69.893v-150.5zm-26.224 72.738v59.64l-43.146-29.819 43.146-29.821zm-53.056 54.864 158.67 109.66-158.35 122.82-0.32-232.48zm25.617 246.04 204.32-158.48 203.59 157.92-407.92 0.561zm275.27-136.64 158.28-110.04 0.32 233.06-158.6-123.02z"/>
                        <path d="m344.77 147.71h-177.54c-7.24 0-13.112 5.872-13.112 13.112s5.872 13.112 13.112 13.112h177.54c7.242 0 13.112-5.872 13.112-13.112s-5.87-13.112-13.112-13.112z"/>
                        <path d="m344.77 215.9h-177.54c-7.24 0-13.112 5.872-13.112 13.112s5.872 13.112 13.112 13.112h177.54c7.242 0 13.112-5.872 13.112-13.112s-5.87-13.112-13.112-13.112z"/>
                    </svg>
                </div>
                <div class="circle" data-circle-href="/my/profile">
                    <svg id="icon" enable-background="new 0 0 512 512" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <path d="m256 0c-74.439 0-135 60.561-135 135s60.561 135 135 135 135-60.561 135-135-60.561-135-135-135zm0 240c-57.897 0-105-47.103-105-105s47.103-105 105-105 105 47.103 105 105-47.103 105-105 105z"/>
                        <path d="m423.97 358.2c-36.96-37.528-85.957-58.195-137.97-58.195h-60c-52.008 0-101.01 20.667-137.97 58.195-36.779 37.344-57.034 86.638-57.034 138.8 0 8.284 6.716 15 15 15h420c8.284 0 15-6.716 15-15 0-52.167-20.255-101.46-57.034-138.8zm-362.31 123.8c7.515-85.086 78.351-152 164.34-152h60c85.989 0 156.82 66.914 164.34 152h-388.68z"/>
                    </svg>
                </div>
            </div>
            <div class="my__left-column-body"></div>
        </div>
        <div class="my__main-column">
            {{#if title}}<h1>{{ title }}</h1>{{/if}}
            <div class="my__main-column-body"></div>
        </div>
    </div>
</div>