<div class="chat-list">
    <h3 class="chat-list__header">Диалоги</h3>
    <div class="chat-list__body"></div>
    <div class="chat-list__footer">
        <div class="chat-list__icon">
            {{{ icon }}}
        </div>
        <p class="chat-list__helper">{{ message }}</p>
    </div>
</div>