<div class="big-search__grid">
    {{#each events}}
       {{#with this.Event as |big-event|}}
           {{> $Blocks/big-event/template followed=../followed class=../class}}
       {{/with}}
    {{/each}}
</div>