@import "../../modules/variables";

.auth {
  margin: (10px + $header-height) auto 10px;
  display: flex;
  align-items: center;
  flex: 1 1 auto;

  &__item {
    box-sizing: border-box;
    padding: $re--huge-padding $re--large-padding $re--large-padding;
    border-radius: $re--border-radius;
    box-shadow: 5px 5px 10px #cdcdcd,
             -5px -5px 10px #ffffff;
    background-color: $color-white;
  }

  &__title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: $re--huge-padding;

    &__reg {
      font-size: 33px;
    }
  }

  &__help {
    font-weight: bold;
    font-size: 12px;
    color: $color-black;
    padding-bottom: $re--small-padding;
  }

  &__input {
    width: 100%;
    min-width: 264px;
    padding-bottom: $re--big-padding;
  }

  &__text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: $color-white;
  }

  &__btn {
    padding-top: $re--big-padding;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: $breakpoint-phone) {
  .auth {
    width: 100%;
    height: auto;

    &__item {
      width: 100%;
      box-shadow: 0 0;
      border-radius: 0;
      padding: $re--huge-padding 10vw $re--large-padding;
    }

    &__input {
      min-width: 100%;
    }

    &__title {
      &__reg {
        font-size: 8.5vw;
      }
    }
  }
}