<header class="chat__header {{#if active}}chat__header_active{{/if}}">
    <h2>{{ title }}</h2>
</header>
<main class="chat__body">
    {{#with motivator}}
        {{> $Blocks/error/template }}
    {{/with}}
</main>
<footer class="chat__footer {{#if active}}chat__footer_active{{/if}}">
<!--    Add icon fill gradient  svg  -->
    <svg class="chat__add-icon"></svg>
    <textarea class="chat__textarea" placeholder="Напишите что-то хорошее" rows="1"></textarea>
    <button class="chat__button re_btn re_btn__filled">Отправить</button>

</footer>

<svg aria-hidden="true" focusable="false" style="width:0;height:0;position:absolute;">
  <linearGradient id="gradient-svg" x1="0%" y1="0%" x2="100%" y2="100%">
    <stop offset="0%" stop-color="#12C2E9" />
    <stop offset="50%" stop-color="#C471ED" />
    <stop offset="100%" stop-color="#F64F59" />
  </linearGradient>
</svg>