@import '../../modules/variables';

.feed {
  position: absolute;
  top: 55px;
  bottom: 10px;
  width: 100%;
  display: flex;

  @media only screen and (max-width: $breakpoint-phone) {
    position: relative;
    margin-top: 25px;
  }

  &__header {
    display: none;

    @media only screen and (max-width: $breakpoint-phone) {
      display: block;
      width: 100%;
      background: white;
      height: 30px;
      z-index: 100;
      border-bottom: 1px solid #f1f1f1;

      position: fixed;
      top: 45px;
    }
  }

  &__main {
    min-width: 0;
    display: flex;
    flex: 1;
    background: white;
    border-radius: $re--border-radius;
    margin-left: 2%;
    box-shadow: 0 0 20px -9px rgba(0, 0, 0, 0.5);

    @media only screen and (max-width: $breakpoint-phone) {
      flex-flow: column;
      border-radius: 0;
      margin-left: 0;
      box-shadow: unset;
      margin-bottom: 50px;
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: sticky;
      bottom: 0;
      left: 0;
      padding: 8px 0;
      margin-top: 15px;
      background: white;
      box-shadow: 0px -18px 12px -21px #00000030;

      @media only screen and (max-width: $breakpoint-phone) {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
      }
    }
  }

  &__column {
    padding: $re--medium-padding $re--medium-padding 0;
    overflow: auto;

    @media only screen and (max-width: $breakpoint-phone) {
      overflow: unset;
      max-height: fit-content;
    }

    &_main {
      flex-grow: 0;
      border-right: 1px solid $re--color-light-gray;
    }

    &_events {
      flex: 0 0 30%;

      @media only screen and (max-width: $breakpoint-phone) {
        margin-top: 15px;
        border-top: 1px solid #f1f1f1;
      }
    }
  }

  &__options-field {
    margin-bottom: $re--medium-padding;
    padding-bottom: $re--big-padding;
    border-bottom: 1px solid $re--color-light-gray;

    &_textarea {
      width: 100%;
      resize: none;
    }
  }

  &-right__title {
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    color: $color-black;
    margin-bottom: 12px;
  }

  &__button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;

    @media only screen and (max-width: $breakpoint-phone) {
      width: 40px;
      height: 40px;
    }

    & svg {
      fill: $color-white;
    }

    &-approve {
      background: $color-red;
    }

    &-reject {
      background: $color-blue;
      transform: rotate(180deg);
    }

    &-skip {
      background: $color-purple;
    }
  }

  /* Customize the label (the container) */
  &__checkbox {
    &-label {
      display: block;
      position: relative;
      padding-left: 19px;
      margin-bottom: 7px;
      cursor: pointer;
      font-size: 10px;
      font-weight: 500;
      color: $color-black;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      /* Hide the browser's default checkbox */
      & > input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        /* When the checkbox is checked, add a blue background */
        &:checked ~ .feed__checkbox-checkmark {
          background: $re--gradient;

          /* Show the checkmark when checked */
          &:after {
            display: block;
          }
        }

        /* Show the checkmark when checked */
        &:checked ~ .feed__checkbox-label { // TODO: doesn't work
          color: $re--color-middle-gray;
        }
      }
    }

    /* Create a custom checkbox */
    &-checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 10px;
      width: 10px;
      background-color: $color-white;
      border: 1px solid $re--color-light-gray;

      /* Create the checkmark/indicator (hidden when not checked) */
      &:after {
        content: "";
        position: absolute;
        display: none;
        /* Style the checkmark/indicator */
        left: 4px;
        top: 1px;
        width: 2px;
        height: 5px;
        border: solid white;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-phone) {
  .feed {
    &__column {
      width: 100%;
    }
  }
}
