<div class="dark-overlay">
    {{#if data_bind_event}}<input type="file" name="{{ data_bind_event }}" id="{{ data_bind_event }}" data-bind-event="{{ data_bind_event }}" multiple>{{/if}}
    <span class="dark-overlay__text">{{ text }}</span>
</div>