<div class="feed-right">
    {{#if isEvent }}
        {{#if users}}
            <div class="feed-right__title">
                <div class="font font_bold font__color_black font__size_small-xx">Уже идут</div>
            </div>
            {{#each users as |user-card|}}
                {{> $Blocks/user-card/template }}
            {{/each}}
        {{else}}
            <h3 class="feed-right__helper feed-right__helper_blue">"Подписчиков нет"</h3>
        {{/if}}
    {{else}}
        {{#if events}}
            <div class="feed-right__title">
                <div class="font font_bold font__color_black font__size_small-xx">Персональные эвенты</div>
            </div>
            {{#each events as |big-event|}}
                {{> $Blocks/big-event/template }}
            {{/each}}
        {{else}}
            <h3 class="feed-right__helper feed-right__helper_blue">"Эвентов нет :("</h3>
        {{/if}}
    {{/if}}
</div>