<div class="auth">
    <div class="auth__item">
        <div class="auth__title gradient-text">ВХОД</div>
        <form class="auth__smth" id="form">
            <div class="auth__input">
                <div class="auth__help">Телефон или Email</div>
                <input class="input input__auth" placeholder="me@example.com"></div>
            <div class="auth__input">
                <div class="auth__help">Пароль</div>
                <input class="input input__auth" placeholder="*******" type="password"></div>
            <div class="auth__btn">
                <button class="re_btn re_btn__outline" type="submit">Вход</button>
            </div>
        </form>
    </div>
</div>