<div class="chat-list__item">
    <aside><img class="chat-list__item__avatar" src="{{ avatar }}"/></aside>
    <div class="chat-list__item__body">
        <header class="chat-list__item__header">
            <div class="chat-list__item__title">{{ name }}</div>
            <div class="chat-list__item__time">{{ time }}</div>
        </header>
        <p class="chat-list__item__message">{{ last_message }}</p>
    </div>
</div>