@import "../../modules/variables";

.auth {
  max-width: 752px;
  height: $re--full-height;
  position: relative;
  margin: 10px auto;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    width: fit-content;
    padding: $re--huge-padding $re--large-padding $re--large-padding;
    border-radius: $re--border-radius;
    box-shadow: 0 0 52px -9px rgba(0, 0, 0, 0.5);
    background-color: $color-white;
  }

  &__title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: $re--huge-padding;
  }

  &__help {
    font-weight: bold;
    font-size: 12px;
    color: $color-black;
    padding-bottom: $re--small-padding;
  }

  &__input {
    width: 264px;
    padding-bottom: $re--big-padding;
  }

  &__text {
    color: $color-white;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  &__btn {
    padding-top: $re--big-padding;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}