@import "../../modules/images";
@import "../../modules/variables";

$people-img: $screen-img-path + "landing.jpg";

.landing {
  width: 100%;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: $color-blue;

  &__screen {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    &_photo {
      width: 100%;
      height: 100%;
      background-size: cover;
      @media screen and (orientation: landscape) {
        min-height: 712px !important;
      }

      @media screen and (max-width: 1000px) {
        min-height: 512px !important;
      }

      background-image:
              linear-gradient(
                              135deg,
                              rgba(8, 88, 106, .5) 0%,
                              rgba(79, 52, 104, 0.5) 50%,
                              rgba(93, 30, 37, 0.5) 100%),
              url($people-img);

    }

    &_scenario {
      background: $color-white;
    }

    &_creators {
      background: rgba(18, 194, 233);
    }

    &_footer {
      background: $color-black;
      text-align: left;
    }
  }

  /*-------------------------------------------*\
     Scenarios
  \*-------------------------------------------*/

  &__scenario {
    padding-bottom: $re--large-padding;

    &__row {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      & svg {
        min-width: 188px;
        margin-right: 130px;
      }
    }

    & .separator {
      margin: $re--large-padding 0;
    }

    &__text {
      box-sizing: border-box;
      text-align: left;

      &__title {
        color: $color-black;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 27px;
      }

      &__body {
        color: #888888;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  /*-------------------------------------------*\
     Creators
  \*-------------------------------------------*/

  &__creators {
    &__row {
      display: flex;
      justify-content: center;

      & .separator_vertical {
        margin: 20px 5vw (40px + $re--large-padding);
      }
    }

    &__card {
      display: flex;
      flex-flow: column;
      align-items: center;
      margin-bottom: $re--large-padding;

      &__avatar {
        width: 180px;
        height: 180px;
        border: 2px solid $color-white;
        border-radius: 50%;
        box-shadow: 5px 5px 10px #11b4d9,
                  -5px -5px 10px #13d0f9;
      }

      &__name {
        margin: $re--big-padding 0;
        font-size: 28px;
        font-weight: 500;
      }

      &__about {
        font-size: 16px;
        font-weight: 400;
      }

      & .separator_horizontal {
        margin: 19px 0;
      }

      &__links {
        display: flex;
        justify-content: space-between;

        & svg {
          width: 28px;
          height: 28px;
          margin: 0 5px;
          opacity: 0.5;
          @include transition(0.3s, ease-in-out);

          &:hover,
          &:active {
            opacity: 1;
          }
        }
      }
    }
  }

  /*-------------------------------------------*\
     Footer
  \*-------------------------------------------*/

  &__footer {
    &__body {
      display: flex;
      align-items: flex-start;
      margin: $re--huge-padding 0 $re--big-padding;
    }

    &__creds {
      color: #686868;
      font-size: 12px;
      margin: $re--large-padding 0;
      text-align: center;
    }

    &__logo {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 8px;
      cursor: pointer;
    }

    &__about {
      color: #7C7C7C;
      font-size: 16px;
      font-weight: 300;
    }

    &__column {
      min-width: 25%;

      &:first-child {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        min-width: 50%;

        & button {
          margin-top: 39px;
        }
      }
    }

    &__section {
      display: flex;
      flex-flow: column;
      margin-bottom: $re--large-padding;
    }

    &__title {
      color: $color-white;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: $re--medium-padding;
    }

    &__link {
      margin-bottom: 3px;
      color: #686868;
      font-size: 13px;
      font-weight: 300;
      text-decoration: underline;
      cursor: pointer;
      @include transition(0.3s, ease-in-out);

      &:hover {
        color: $re--color-light-gray;
      }
    }
  }

  /*-------------------------------------------*\
     Text
  \*-------------------------------------------*/

  &__title {
    font-size: 32px;
    color: $color-white;

    &_second {
      padding: $re--large-padding 0;
      font-size: 32px;
      color: $color-white;
      font-weight: 400;
    }
  }

  &__text {
    font-weight: bold;
    font-size: 26px;
    color: $color-white;
  }
}

/*-------------------------------------------*\
   Scenarios MEDIA
\*-------------------------------------------*/

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: $breakpoint-phone) {
  .landing__screen_scenario {
    box-sizing: border-box;
    padding: 0 6vw $re--big-padding;
  }

  .landing__scenario {
    &__row {
      flex-flow: column;

      & svg {
        margin: 0 0 $re--big-padding 0;
        max-height: 40vw;
      }
    }

    & .separator {
      margin: $re--big-padding 0;
    }

    &__text {
      text-align: center;
      padding: 0 10px;

      &__title {
        color: $color-black;
        font-size: 19px;
        font-weight: 700;
        margin-bottom: $re--medium-padding;
      }

      &__body {
        color: #888888;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

/*-------------------------------------------*\
   Creators MEDIA
\*-------------------------------------------*/

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: $breakpoint-phone) {
  .landing__creators {
    &__row {
      flex-flow: column;

      & .separator_vertical {
        display: none;
      }
    }

    &__card {
      margin: 0 0 $re--large-padding;

      &__avatar {
        width: 150px;
        height: 150px;
      }

      &__name {
        margin: $re--medium-padding 0;
        font-size: 24px;
      }

      &__about {
        font-size: 14px;
      }

      & .separator_horizontal {
        width: 40%;
      }
    }
  }
}

/*-------------------------------------------*\
   Footer MEDIA
\*-------------------------------------------*/

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: $breakpoint-phone) {
  .landing {
    &__footer {
      &__body {
        flex-flow: column;
        margin: $re--large-padding 2vw 0;
      }

      &__creds {
        margin: $re--medium-padding;
        font-size: 8px;
      }

      &__logo {
        font-size: 20px;
        margin-bottom: $re--small-padding;
      }

      &__about {
        font-size: 12px;
      }

      &__column {
        width: 100%;
        &:first-child {
          align-items: center;

          & button {
            transform: scale(0.75);
            margin-bottom: $re--big-padding;
            align-items: center;
            margin-top: $re--big-padding;
          }
        }
      }

      &__section {
        align-items: center;
        text-align: center;
        margin-bottom: $re--big-padding;
      }

      &__title {
        font-size: 12px;
        margin-bottom: $re--medium-padding;
      }

      &__link {
        font-size: 10px;
      }
    }
  }
}

/*-------------------------------------------*\
   Text MEDIA
\*-------------------------------------------*/

@media only screen and (max-width: $breakpoint-phone) {
  .landing__title {
    &_second {
      padding: $re--large-padding 0;
      font-size: 23px;
    }
  }
}