<div class="landing">
    <section class="landing__screen landing__screen_photo">
        <div class="landing__container">
            <div class="landing__title landing__title_main">Мы соединяем интересных людей</div>
            <div class="landing__text">Заводите новые знакомства и посещайте любимые мероприятие вместе</div>
            <div class="landing__btn">
                <button class="btn btn_size_large btn_circle btn_color_ok">
                    <div class="btn__text btn__text_w">Присоединиться</div>
                </button>
            </div>
        </div>
    </section>
    <div class="landing__title_second">Как Eventum работает:</div>
    <section class="landing__screen landing__screen_info">
        <div class="landing__column">
            <div class="efont">
                <div class="efont__back efont__back_xxx">1</div>
                <div class="efont__title">
                    Делитесь своими впечатлениями и желанием посетить то или иное мероприятие
                </div>
                <div class="efont__ordinary">
                    Давно хотели посетить выставку Ван Гога, послушать Федука под открытым небом или посмотреть
                    шедевры Миядзаки в оригинале? Расскажите об этом!
                </div>
            </div>
        </div>
        <div class="landing__column">
            <div class="efont">
                <div class="efont__back efont__back_xxx">2</div>
                <div class="efont__title">Находите единомышленников и мероприятия</div>
                <div class="efont__ordinary">
                    На вкус и цвет товрища нет? Как бы не так! Вы и не представляете как много людей разделяют
                    ваши интересы. Знакомьтесь и объединяйтесь с ними!
                </div>
            </div>
        </div>
        <div class="landing__column">
            <div class="efont">
                <div class="efont__back efont__back_xxx">3</div>
                <div class="efont__title">Встречайтесь и посещайте любимые мероприятия вместе</div>
                <div class="efont__ordinary">
                    Нашли себе пару или собрали большую компанию? Осталось дело за малым - прийти и насладиться
                    эвентом в приятной компании!
                </div>
            </div>
        </div>
    </section>
</div>
