@import "../../modules/variables";
@import "../../modules/efont";

.big-event {
  box-sizing: border-box;
  break-inside: avoid;
  counter-increment: item-counter;


  margin: 8px;
  background-color: $color-white;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.4);

  //display: inline-block;
  text-align: center;

  width: $event-width;


  //@media screen and (orientation: landscape) {
  //}

  &__description {
    word-break: break-all;
    margin: 12px;
    text-align: left;
  }

  &__title {
    padding-bottom: 12px;
  }
}
