@import "../../modules/variables";
@import "../../modules/efont";

.big-event {
  box-sizing: border-box;
  break-inside: avoid;
  counter-increment: item-counter;
  text-align: left;
  border-radius: 2px;
  margin: 8px;
  background-color: $color-white;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.4);
  width: $event-width;

  &__description {
    margin: 0 12px 12px;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.3;
  }

  &__title {
    padding-top: $padding-event;
    padding-bottom: $padding-event;
    padding-left: 12px;
  }

  &__subscribe {
    list-style-type: disc;
    width: 160px;

    &_big {
      color: $color-red;
    }

    &_middle {
      color: $color-blue;
      width: 180px;
    }
  }

  &__link {
    position: relative;
    left: -10px;
    display: inline-block;
  }

  &__date {
    padding-top: $padding-event;
    padding-bottom: 10px;
  }

  &__follow {
    display: flex;
    padding: 4px 0 12px;

    &_count {
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    padding-right: 8px;
  }

  &__line {
    border: 0.5px solid #c8c8c8;
    width: 100%;
    margin: 4px 1px 4px;
  }
}
