@import "../../modules/variables";

.tag {
  width: fit-content;
  padding: 4px;
  border-radius: 4px;
  margin: 0 5px 5px 0;
  text-align: center;
  color: $color-white;
  font-weight: 700;
  background: $re--gradient;
}