@import "../../modules/variables";

.profile-main {
  width: 100%;
  height: calc(100% - 39px);
  display: flex;
  align-items: flex-start;

  &__photos {
    max-height: 100%;
    overflow-y: auto;

    @media screen and (orientation: landscape) {
      min-width: 482px;
    }
  }

  &__events {
    max-height: 100%;
    overflow-y: auto;
    max-width: 20%;
    min-width: 200px;
  }

  &__group {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: $re--big-padding;
  }

  &__separator {
    min-width: $re--big-padding;
  }
}

@media only screen and (max-width: $breakpoint-1000) {
  .profile-main {
    &__events {
      padding-top: $re--medium-padding;
      border-top: 1px solid $re--color-light-gray;
      max-width: 100%;
    }

  }
}