<div class="profile-edit profile-edit__overlay">
    <div class="profile-edit__popup">
        <div class="profile-edit__form">
            <div class="profile-edit__title">
                <div class="font font__title font__color_black">Добавить мероприятие</div>
                <div class="profile-edit__icon">
                    <span class="icon icon__close icon__size_middle icon_btn icon_color_black"></span>
                </div>
            </div>
            <div class="profile-edit__table">
                <div class="edit-field">
                    {{> $Blocks/edit-field/template }}
                </div>
            </div>
        </div>
    </div>
</div>
